.navbar {
    display:flex;
    position:fixed;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #faf7f7;
}

.navbar ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin:0;
}

.navbar ul li {
    display:flex;
    margin-right:10px;
}

.navbar ul li:hover {
    background-color: #7cc6e5;
    border-radius:20%;
}

.navbar ul li a {
    text-decoration: none;
    color:black;
    margin: auto;
}

.navbar div {
    display:flex;
    margin-right: 20px;
}

.navbar div a {
    text-decoration: none;
    color:black;
    margin: auto;
    
}

.navbar div:hover {
    background-color: #7cc6e5;
    border-radius:20%;
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.person, .interests {
    width: 25%;
    margin: auto;
}

.container img {
    border-radius: 10%;
    box-shadow: 10px 10px 5px #777;
    width:50%;
    height: auto;
}

.container img:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 10px 10px 5px #7cc6e5;
}

body {
    background-color: #faf7f7;
}

main {
    background: linear-gradient(90deg, rgba(254,254,255,1) 0%, rgba(226,237,233,0,72) 37%, rgba(208,238,243,1) 100%);
}

p {
    text-align: justify;
    font-size: 1.2rem;
    font-weight: normal;
    margin-right: 20px;
    margin-left: 10px;
}

p:hover {
    background-color: #7cc6e5;
}

.container section {
    width: 100%;
    margin: auto;
}

.container-video {
    display:flex;
    flex-direction: column;
}

.video1, .video2, .video3 {
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
}

.video1 iframe {
    margin: auto;
}

.video2 iframe {
    margin: auto;
}

.video3 iframe {
    margin: auto;
}

.container-audio {
    display: flex;
    flex-direction: column;
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%;
    margin: auto;
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto;
    border-radius: 10%;
    box-shadow:5px 5px 5px #7cc6e5;
}

.container-book {
    display: flex;
    flex-direction: column;
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.book1 img, .book2 img, .book3 img {
    margin: auto;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #7cc6e5;
    margin-bottom: 10px;
}

.book1 a, .book2 a, .book3 a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px #888;
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #7cc6e5;
    transition: 0.7s ease;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer a {
    margin-right: 10px;
}

.burger {
    display: none;
}
 
@media (max-width: 700px) {
   
    .form form fieldset {
        width:80%;
    }
   
    .container {
        display: flex;
        flex-direction: column;
    }

    .person {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .person p {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .container img {
        margin-top: 20px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px #777;
        width: 95%;
        height: auto;
        margin: auto;
    }

    .container img:hover {
        transform: scale(1.03);
        transition: 0.5s ease;
        box-shadow: 5px 5px 5px #7cc6e5;
    }

    .interests {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .interests p {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .h2 {
        margin: 10px;
        text-align: center;
    }

    .video1 iframe {
        margin-top: 20px;
        width: 95%;
        height: auto;
    }

    .video2 iframe {
        width: 95%;
        height: 320px;
    }

    .video3 iframe {
        width: 95%;
        height: 320px;
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%;
        height: auto;
    }
    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        margin: auto;
        margin-left: 20px;
        margin-right: 5px;
    }

    .burger span{
        position: absolute;
        width: 30px;
        left: 5px;
        height: 3px;
        background-color: black;
        bottom: 20px;
    }

    .burger span:nth-child(1) {
        transform: translateY(-10px);

    }

    .burger span:nth-child(3) {
        transform: translateY(10px);
    }

    .navbar ul  {
        position: absolute;
        background: radial-gradient(circle at top left, rgb(235, 224, 142), rgb(161, 222, 225), rgb(80, 173, 224));
        flex-direction: column;
        width: 30%;
        height: auto;
        top: 68px;
        left: -40%;
        z-index: 2;
    }

    .navbar ul li {
        margin-top: 10px;
    }

    .navbar ul li:hover {
        background-color: black;
        transform: scale(1.07);
        transition: 0.4s ease;
        border-radius: 5%;
    }

    .navbar ul li a:hover {
        color:white;
    }

    .navbar ul li:nth-child(1) {
        margin-top: 20px;
    }

    .navbar ul li a {
        margin-left: 0;
        font-size: 1.2rem;
    }

    .navbar .open ul {
        transform: translateX(100%);
        transition: 0.7s ease-in-out;
    }

    .navbar.open .burger  span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .navbar.open .burger span:nth-child(2) {
        opacity: 0;
    }

    .navbar.open .burger span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .navbar.open ul {
        transform: translateX(100%);
        transition: 0.7s ease-in-out;
    }

    .navbar.open .burger span:nth-child(1) {
        transform:  translateY(0) rotate(45deg);

    }

    .navbar.open .burger span:nth-child(2) {
        opacity: 0;
    }

    .navbar.open .burger span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }
     
    .navbar ul .work ul {
        position: absolute;
        flex-direction: column;
        left: 10px;
        top: 0;
        width: 100px;
        display: none;
        padding: 0;
        z-index: 20;
    }

    .navbar ul .work ul li {
        margin-top: 0;
        margin-bottom: 10px;
        background-color: unset;
        font-size: 11.2rem;
        margin-left: 10px;
        color: black;
    }

    .navbar ul .work ul li:hover {
        background-color: black;
    }

    .navbar ul .work ul li:hover a:hover {
        color: white;
    }

    .navbar ul .work:hover ul li a {
        color: black;
    }

    



}

@media (min-width: 700px) and (max-width: 900px) {
    
    .form form fieldset {
        width: 65%;
    }
    
    .container img {
        margin-top: 20px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px #777;
        width: 320px;
        height: 200px;
        margin: auto;
    }
}

.navbar ul .work {
    position: relative;
    display: flex;
    z-index: 10;
}

.navbar ul .work ul {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 100%;
    width: 100px;
    display: none;
    padding: 0;
    z-index: 20;
}

.navbar ul .work ul li {
    z-index: 20;
    background-color: #7cc6e5;
    margin-bottom: 2px;
}
.navbar ul .work:hover ul {
    display: block;
}

.navbar ul .work li:hover {
    background-color: white;
    border-radius: 0 ;
}

.form {
    flex-direction: column;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form form fieldset legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.form form button {
    width: 200px;
    font-size: 1.2rem;
    background-color: #24779b;
    color:white;
    margin: auto;
    margin-bottom: 20px;
}

.form form button:hover {
font-size: 1.2rem;
background-color: #91130c;
color: rgb(248,243,243);
}